{% extends "base.html" %}
    

    {% block student %}
    <div class="row">
    
        {% for student in student_list  %}
        <div class="card" style="width: 12rem;">
            {% if student.image %}
            <img src="{{ student.image.url }}" class="card-img-top" alt="...">
            {% else %}
            <img src="#" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ student.first_name }}</h5>
            <p class="card-text">{{ student.address }}</p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ student.email }}</li>
            <li class="list-group-item">{{ student.full_name }}</li>
            <li class="list-group-item">{{ student.sex }}</li>
            <li class="list-group-item">{{ student.classes__title }}</li>
            {% if request.user.is_authenticated %}
            <li class="list-group-item"><a href="/student/send_message/{{student.pk}}"> send message </a></li>
            {% endif %}
            </ul>
            <div class="card-body">
            <a href="/student/update/{{student.pk}}" class="card-link">Update link</a>
            <a href="/student/delete/{{student.pk}}" class="card-link">Delete link</a>
            </div>
        </div>
        {% endfor %}

    {% endblock student %}